@use '../../abstracts/scss/' as *;

.ketoContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem 1.5rem;
}


@media screen and (max-width : 1023px) {
	.ketoContainer {
		grid-template-columns: repeat(3, 1fr);
		gap: 3.5rem 1.5rem;
	}
}

@media screen and (max-width : 767px) {
	.ketoContainer {
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem 1.25rem;
	}
}

@media screen and (max-width : 575px) {
	.ketoContainer {
		gap: 2.5rem 1rem;
	}
}

@media screen and (max-width : 380px) {
	.ketoContainer {
		gap: 2rem 1rem;
	}
}