@use '../../abstracts/scss/' as *;

.itemCardContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
	gap: 0.7rem;
	cursor: pointer;
	position: relative;
	opacity: 0;
}

.itemCardAnimation {
	animation: item-card-animation 1.5s forwards;
}

@keyframes item-card-animation {
	from {
		opacity: 0;
		bottom: -1.5em;
	}

	to {
		opacity: 1;
		bottom: 0;
	}
}

.imageBox {
	width: 100%;
	background-color: $color-image-background;
	aspect-ratio: 3/4;
	overflow: hidden;

	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
		transition: 0.4s ease;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.textBox {
	font-size: $font-size-s;

	h3 {
		font-weight: 600;
		margin-bottom: 0.25em;
	}
}


@media screen and (max-width : 575px) {
	.textBox {
		font-size: $font-size-s-1;
	}
}

@media screen and (max-width : 380px) {
	.itemCardContainer {
		gap: 0.5rem;
	}

	.textBox {
		font-size: $font-size-xs;
	}
}