@use '../../abstracts/scss/' as *;

.cardContainer {
	opacity: 0;
}

.cardAnimationDelay {
	animation: card-animation-delay 2.5s ease 1s forwards;
}

@keyframes card-animation-delay {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}