@use '../../abstracts/scss/' as *;

.modal-backdrop {
	min-width: 320px;
}

.keto-popup {
	.modal-dialog {
		height: 100%;
		max-width: none;
		justify-content: center;
		margin: 0;
	}

	.modal-content {
		width: initial;
		background-color: $color-bg;
		padding: 1.5rem;
		height: 92.5%;
		width: 92.5%;
		// min-width: 95%;
	}

	.modal-body {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 1.5rem;
		height: 100%;
		width: 100%;
		overflow: hidden;
		padding: 0;

		.image-box {
			overflow: hidden;
			height: 100%;
			width: 65%;

			img {
				height: 100%;
				width: 100%;
				border-radius: 0.5rem;
				object-fit: cover;
			}
		}

		.text-box {
			height: 100%;
			width: 35%;
			font-size: $font-size-s;
			padding: 1rem 0;
			overflow: scroll;

			h3 {
				font-weight: 600;
			}

			p,
			span,
			li {
				line-height: 1.6em;
			}

			li {
				list-style-type: disc;
				list-style-position: outside;
				margin-left: 1em;
			}

			.description {
				margin-bottom: 1.75em;
				border-bottom: 1px solid $color-light-grey;
			}

			.content {
				padding: 0.5em 0 1.75em 1em;
			}

			.noBorder {
				border-bottom: none;
			}
		}
	}

	.close-button {
		position: absolute;
		top: 1rem;
		right: 1rem;
		color: $color-text;
		transition: 0.4s ease;
		cursor: pointer;

		&:hover {
			opacity: 0.5;
		}
	}
}


@media screen and (max-width : 1023px) {
	.keto-popup {
		.modal-body {
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			overflow: scroll;

			.image-box {
				overflow: initial;
				height: initial;
				width: 100%;
			}

			.text-box {
				height: initial;
				width: 100%;
				padding: 0 0.25rem;
				overflow: initial;

				.description {
					margin-bottom: 1.5em;
				}

				.content {
					padding: 0.5em 0 1.5em 1em;
				}
			}
		}
	}
}

@media screen and (max-width : 767px) {
	.keto-popup {
		.modal-content {
			padding: 1rem;
		}
	}
}

@media screen and (max-width : 575px) {
	.keto-popup {
		.modal-body {
			.text-box {
				font-size: $font-size-s-1;
			}
		}
	}
}