@use '../../abstracts/scss/' as *;


.itemPopup {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	min-width: $min-width-main;
	display: flex;
}

.itemPopupAnimation {
	animation: item-popup-animation 0.3s;
}

@keyframes item-popup-animation {
	from {
		bottom: -20vh;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

.closePopupAnimation {
	animation: close-popup-animation 0.3s;
}

@keyframes close-popup-animation {
	from {
		bottom: 0;
		opacity: 1;
	}

	to {
		bottom: -20vh;
		opacity: 0;
	}
}

.popupBackground {
	background-color: rgba($color: #000000, $alpha: 0.5);
	z-index: 101;
}

.itemPopupContent {
	background-color: $color-bg;
	width: 92.5%;
	height: 92.5%;
	padding: 1.5rem 0 1.5rem 1.5rem;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border-radius: 1rem;
	gap: 1.5rem;
	overflow: hidden;
	position: relative;
	z-index: 102;
}

.imageBox {
	overflow: hidden;
	height: 100%;
	width: 65%;

	img {
		height: 100%;
		width: 100%;
		border-radius: 0.5rem;
		object-fit: cover;
	}
}

.textBox {
	height: 100%;
	width: 35%;
	font-size: $font-size-s;
	padding: 1rem 1.5rem 0 0;
	overflow-y: auto;

	h3 {
		font-weight: 600;
	}

	p,
	span,
	li {
		line-height: 1.6em;
	}

	li {
		list-style-type: disc;
		list-style-position: outside;
		margin-left: 1em;
	}

}

.textDescription {
	margin-bottom: 1.75em;
	border-bottom: 1px solid $color-light-grey;
}

.textContent {
	padding: 0.5em 0 1.75em 1em;
}

.noBorder {
	border-bottom: none;
}

.closeButton {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	color: $color-text-contrast;
	padding: 0.25rem;
	background-color: rgba($color: #222222, $alpha: 1);
	border-radius: 9999px;
	transition: 0.4s ease;
	cursor: pointer;
	z-index: 103;

	&:hover {
		background-color: rgba($color: #222222, $alpha: 0.5);
	}
}

@media screen and (min-width : 1024px) {
	.mobileActive {
		display: none;
	}
}

@media screen and (max-width : 1023px) {
	.itemPopupContent {
		width: 100%;
		height: 100%;
		padding: 0;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-radius: 0;
		overflow-y: auto;
	}

	.imageBox {
		width: 100%;
		height: initial;
		overflow: initial;

		img {
			border-radius: 0;
		}
	}

	.textBox {
		width: 100%;
		height: initial;
		padding: 0 0.25rem;
		overflow: initial;
		padding: 0 $side-padding-m;
	}

	.textDescription {
		margin-bottom: 1.5em;
	}

	.textContent {
		padding: 0.5em 0 1.5em 1em;
	}

	.webActive {
		display: none;
	}

	.mobileActive {
		display: initial;
	}

	.closeButton {
		top: 2rem;
		right: 2rem;
		background-color: rgba($color: #222222, $alpha: 1);

		&:hover {
			background-color: rgba($color: #222222, $alpha: 1);
		}
	}

	@keyframes item-popup-animation {
		from {
			bottom: -100vh;
			opacity: 0;
		}

		to {
			bottom: 0;
			opacity: 1;
		}
	}

	@keyframes close-popup-animation {
		from {
			bottom: 0;
			opacity: 1;
		}

		to {
			bottom: -100vh;
			opacity: 0;
		}
	}
}

@media screen and (max-width : 767px) {
	.textBox {
		padding: 0 $side-padding-s;
	}

	.closeButton {
		top: 1.75rem;
		right: 1.75rem;
	}
}

@media screen and (max-width : 575px) {
	.textBox {
		font-size: $font-size-s-1;
	}

	.closeButton {
		top: 1.5rem;
		right: 1.5rem;
	}
}